<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBCustomAction.Properties.Settings.masterConnectionString"
            connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBCustomAction.Properties.Settings.HRMCubeConnectionString"
            connectionString="Data Source=.;Initial Catalog=HRMCube;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>